.review-wrapper {
  padding: 20px;
  transition: all 0.2s ease-in-out;
  width: 30%;
}
.review:hover{
    box-shadow: 0 15px 100px #000000;
}
.review {
  background: #d6d3d3;
  box-shadow: 0 15px 100px #353242;
  border-radius: 4px;
  padding: 20px;
  width: 99%;
  height: 100%;
}
.quote {
  font-size: 1.7rem;
  color: #000000;
  z-index: 1;
  font-family: halyard-text, sans-serif;
  font-weight: 100;
  font-style: normal;
  letter-spacing: 0.02rem;
}
.attribution {
  color: #1a1619;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding-top: 15px;
  font-family: poppins, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  font-style: normal;
}

@media only screen and (max-width: 768px) {
.review-wrapper {
  width: 50%;
}
}

@media only screen and (max-width: 600px) {
  .review-wrapper {
    width: 90%;
  }
}