.review-card{
    margin: 10px 0;
}
.lead{
    text-align: center;
}
.card-title{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    color: #69387c;
    /* color: #1a1619;; */
    text-decoration: underline;
}
p{
    text-align: left;
    font-size: 18px;
}