.services-title {
  font-size: 2.75rem;
}

.services-wrapper {
  width: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 20px;
}
.services-body {
  background: #ffffff;
  width: 99%;
  height: 100%;
  font-size: 1.7rem;
  color: #000000;
  z-index: 1;
  font-family: halyard-text, sans-serif;
  font-weight: 100;
  letter-spacing: 0.02rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.card-img {
  background-size: cover;
  height: 350px;
  opacity: 1;
}

#card-img-home {
  background-image: url("../../assets/home.png");
}

#card-img-add-on {
  background-image: url("../../assets/add_on.png");
  background-position: center;
}
#card-img-other {
  background-image: url("../../assets/other.png");
}


@media only screen and (max-width: 768px) {
.services-wrapper {
  width: 90%;
  flex-direction: row;
  margin: 20px 0;
}
}

@media only screen and (max-width: 600px) {

}
