.services-title {
  font-size: 30px;
}
.services-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services-card {
  width: 30%;
  text-align: center;
  background: #d6d3d3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 10px;
}
.card-img {
  background-size: cover;
  height: 350px;
  opacity: 1;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#card-img-home {
  background-image: url("../../assets/home.png");
}

#card-img-add-on {
  background-image: url("../../assets/add_on.png");
  background-position: center;
}
#card-img-other {
  background-image: url("../../assets/other.png");
}

.card-img:hover .middle {
  opacity: 2;
}
.text {
  background-color: #1a1619;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 600px) {

}
