.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/pool-deck.jpg");
  max-width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.container{
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.hero-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    text-align: left;
}
.hero-heading{
    font-size: 50px;
}
.hero-paragraph{
    line-height: 30px;
    font-size: 20px;
}

@media only screen and (max-width: 769px) {
    .container{
        align-items: flex-end;
    }
    .hero-wrapper{
        width: 100%;
        margin-bottom: 32px;
    }
    .hero-heading {
        font-size: 30px;
    }
    .hero-paragraph{
        line-height: 35px;
        font-size: 22px;
    }
  }
