/* .services-container{
    width: 90%;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row{
    height: 20%;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
} */
.columns{
    margin: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}