body{
    background-color: #423947 !important;
    background-image: url("../../assets/soft-wallpaper.png");
}
.container{
    max-height: auto;
}
#meet-eric-container{
    max-width: 1200px;
    margin: 50px auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.meet-eric-wrapper{
    max-height: 750px;
}
h1 {
    font-size: 50px !important;
}
.meet-eric-right{
    float: right;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    height: 60%;
    width: 80%;
    padding: 50px 50px 50px 300px;
    border-radius: 5px;
    background: #d6d3d3;
    color: black;
}
.meet-eric-left{
    float: left;
    position: relative;
    bottom: 600px;
    left: 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    
    width: 35%;
    height: 500px;
    border-radius: 5px;
    background-image: url("../../assets/eric.jpg");
    background-position-x: center;
    background-position-y: 0px;
}

@media screen and (max-width: 769px){
#meet-eric-container{
    margin-top: 15px;
}
.meet-eric-wrapper{
    display: flex;
    flex-direction: column-reverse;
}
.meet-eric-right{
    padding: 15px;
    width: 90%;
    line-height: 22px;
    font-size: 18px;
    margin: 15px 0 15px 35px;
}
.meet-eric-left{
    left: 22%;
    bottom: 0px;
    height: 280px;
    background-position-y: top;
    width: 55%;
}
h1{
    font-size: 30px !important;
    text-align: center;
}
}