body{
    background-image: url("../../assets/concrete.png");
}
.container{
    max-height: auto;
}
#meet-eric-container{
    max-width: 1200px;
    margin: 50px auto 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}
.meet-eric-wrapper{
    height: 80%;
    max-height: 900px;
}
h1 {
    font-size: 50px !important;
}
.meet-eric-right{
    float: right;

    height: 60%;
    width: 80%;
    padding: 50px 50px 50px 300px;
    border-radius: 5px;
    background: rgb(66, 57, 71);
    color: aliceblue;
}
.meet-eric-left{
    float: left;
    position: relative;
    bottom: 600px;
    left: 0px;
    
    width: 40%;
    height: 0px;
    /* min-height: 440px; */
    border-radius: 5px;
    background-image: url("../../assets/eric.jpg");
    background-position: 50%;
}

@media screen and (max-width: 769px){
#meet-eric-container{
    margin-top: 15px;
}
.meet-eric-wrapper{
    display: flex;
    flex-direction: column-reverse;
}
.meet-eric-right{
    padding: 15px;
    width: 90%;
    line-height: 22px;
    font-size: 18px;
    margin: 15px 0 15px 35px;
}
.meet-eric-left{
    left: 22%;
    bottom: 0px;
    height: 280px;
    background-position-y: top;
    width: 55%;
}
h1{
    font-size: 30px !important;
    text-align: center;
}
}