.contact-container{
    width: 90%;
    height: 90%;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#contact-card-row{
    height: 300px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}


@media only screen and (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      height: 850px;
    }
    #contact-card-row{
        width: 90%;
    }
}
@media only screen and (max-width: 768px) {
    #contact-card-row {
        height: 900px !important;
        margin: auto;
        }
    }
    