#root {
    font-size: 20px;
}
a {
    color: black !important;
    margin-right: 15px;
}
img {
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 766px) {
    img {
        margin-right: 70%;
    }
  }

  @media only screen and (max-width: 376px) {
    img {
        margin-right: 200px;
    }
    body {
        width: 100% !important;
    }
    
  }